// Bootstrap
@import '~bootstrap/scss/bootstrap';


main {
    .cars-wrapper {
        gap: 1rem;

        .car-card {
            img {
                padding: .5rem 0;
            }
        }
    }
}
main {
    button {
        a {
            color: black !important;
        }
    }
}

header {
    a {
        text-transform: uppercase;

        &:hover {
            color: gray;
        }
    }
}