// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
    .cars-wrapper {
        gap: 1rem;

        .car-card {
            img {
                padding: .5rem 0;
            }
        }
    }
}

main {
    .carousel-item {
        img {
            margin: 0 auto;

            /* width: 800px;
            height: 600px; */

            height: 400px;
        }
    }
}